*~
#*
*#
.#*
.classpath
.project
.settings/
target/
bin/
_site/
.idea
*.iml
*.ipr
*.iws
.factorypath
download/
/vault/
/consul/
/rabbitmq/
work
build/
pom.xml.releaseBackup
.flattened-pom.xml
release.properties
.vscode/

**/.idea/*
*.iml
**/target/*
!/.mvn/wrapper/maven-wrapper.jar
**/.flattened-pom.xml
package-lock.json
site
node_modules
docs/node
*.xml.next
*.xml.tag